body {
    background-color: beige;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para o conteúdo */
main {
    padding: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}